elasticsearch-data/
liferay/document-library/

liferay/logs/*
!liferay/logs/.keep

liferay/license/**
!liferay/license/.keep

liferay/patching/*.zip

mysql-dump/*.sql

nb-cache/

liferay/deploy/*
!liferay/deploy/.keep

liferay/config/osgi/modules/*
!liferay/config/osgi/modules/.keep

/liferay/config/.all/

/liferay/config/.custom/